body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  line-height:1.5;
  /* Same as above  ---font: 15px/1.5 Arial, Helvetica, sans-serif;  */
padding:0;
margin: 0;
background-color:#d7d1c9;
  }


/* Global */
.container{
  width: 80%;
  margin: auto;
  overflow: hidden;
}

/* Header */
header{
  background-color: #525252;
  color: #ffffff;
  padding-top: .7em;
  min-height: 2em;
  border-bottom: #c10000;
}
